/* Global */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #5887ff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.projects a,
.about-item-2 a,
.about-item-2 a:hover {
  text-decoration: none;
  color: black;
}

.projects a,
.about-item-2 a,
.about-item-2 a:hover {
  font-weight: bold;
  color: black;
}

.typical-container {
  font-size: 5rem;
}

/* about */

.about {
  background-color: #5887ff;
  color: #dcdcdc;
}

.about a {
  color: black;
}

.about-grid {
  width: 50%;
  grid-template-columns: auto 70%;
  grid-template-rows: auto;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
  margin-top: 5%;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.about-typical {
  margin-top: 5%;
  margin-left: 15%;
  font-size: 2rem;
}

.about-item-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.about-item-1 img {
  max-width: 100%;
  max-height: 90%;
  border-radius: 15px;
}

.about-item-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

/* index */
.app {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background-color: #5887ff;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.index-container {
  grid-row-start: 1;
  grid-row-end: 1;
  color: #dcdcdc;
  justify-content: center;
  font-size: 3rem;
  align-items: center;
  text-align: center;
}

.miniNav-container {
  margin-top: 4%;
  text-align: center;
  color: #dcdcdc;
  font-size: 2.5rem;
}

.tooltip.bs-tooltip-bottom .tooltip-inner {
  background: black !important;
}

.tooltip .arrow:before {
  /*border-bottom-color changes the arrow for the tooltip */
  border-bottom-color: black !important;
  border-top-color: black !important;
}

/* projec[ts */
.projects {
  background-color: #5887ff;
  color: #dcdcdc;
}

.p-info {
  display: block;
  margin-bottom: 5%;
}

/* miniNav */
.MiniNav {
 
  font-size: 2.5rem;
}
#button-tooltip > .tooltip-inner {
  background-color: black;
  color: #dcdcdc;
}

.MiniNav a,
.MiniNav a:hover,
.app a:hover {
  color: black;
}

.nav-array,
.nav-array:hover {
  color: #dcdcdc;
}

/* media */
@media only screen and (max-width: 750px) {
  .index-container {
    margin-top: 10%;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #dcdcdc;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    text-align: center;
  }
  .about-typical {
    font-size: 2rem;
    margin-top: 10%;
  }
  .about-grid {
    display: grid;
    grid-template-columns: auto;
  }
  .about-item-1 {
    width: 100%;
    margin-bottom: 1%;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .about-item-2 {
    width: 100%;
    margin-bottom: 2%;
    grid-row-start: 2;
    grid-column-start: 1;
    font-size: 1rem;
  }
  .MiniNav {
    text-align: center;
    font-size: 1.5rem;
  }
  .home-typical {
    font-size: 1rem;
  }
  .projects{
    font-size: 1rem;
  }
  .p-info{
    font-size: 0.5rem;
  }
 
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 100%;
  }
}
