@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #d9d9d9;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
}

.app {
  margin-top: 10%;
}

.dark-mode-comp {
  float: right;
  margin-top: 1%;
}

.light-theme {
  background-color: #d9d9d9;
  color: black;
}

.dark-theme {
  background-color: black;
  color: red;
}

.app .jumbo {
  background-color: #d9d9d9;
}

#button-tooltip > .tooltip-inner {
  background-color: #d9d9d9;
  color: black;
}

.projects a,
.about-item-2 a,
.about-item-2 a:hover,
.projects a:hover,
.MiniNav a,
.MiniNav a:hover,
.app a:hover {
  text-decoration: none;
  color: black;
}

.projects a,
.about-item-2 a,
.about-item-2 a:hover,
.projects a:hover {
  font-weight: bold;
}

.nav-array,
.nav-array:hover {
  color: black;
}

.my-card {
  min-height: 20rem;
  border: solid medium black;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  padding-top: 16%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.my-card:hover {
  box-shadow: 3px 3px 5px 6px gray;
}

.my-card p {
  display: inline-block;
  text-align: left;
}

.about-grid {
  display: grid;
  grid-template-columns: auto 70%;
  grid-template-rows: auto;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
  height: 50vh;
  margin-top: 5%;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

.about-item-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.about-item-1 img {
  max-width: 100%;
  max-height: 80%;
  border-radius: 15px;
}

.about-item-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-cards {
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
  margin-bottom: 2%;
}

.professional-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.professional-col-one {
  grid-column-start: 1;
  grid-column-end: 1;
}

.professional-col-one p {
  width: 90%;
}

.professional-col-two {
  grid-column-start: 2;
  grid-column-end: 2;
}

.professional-col-two img {
  border-radius: 15px;
}

.professional-vh {
  height: 75vh;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
