@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #d9d9d9;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
}

.app {
  margin-top: 10%;
  background-color: #d9d9d9;
}

.app .jumbo,
.MiniNav,
.projects,
.about {
  background-color: #d9d9d9;
}

#button-tooltip > .tooltip-inner {
  background-color: #d9d9d9;
  color: black;
}

.MiniNav a,
.MiniNav a:hover,
.app a:hover {
  text-decoration: none;
  color: black;
}

.nav-array,
.nav-array:hover {
  color: black;
}

.my-card {
  background-color: #d9d9d9;
  min-height: 18rem;
  border: solid medium black;
  border-radius: 15px;
  width: 100%;
}

.my-card .my-card-content {
  margin-top: 10%;
  text-align: center;
  padding: 5%;
}

.my-card-content .my-card-desc p {
  display: inline-block;
  text-align: left;
}

.project-button {
  background-color: #d9d9d9;
  opacity: 100%;
  border: solid medium black;
  border-radius: 5px;
}

.about-container {
  display: grid;
  grid-template-columns: 40% 50%;
  margin-left: 10%;
  grid-template-rows: auto auto;
  grid-column-gap: 100px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}

.about-item-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.about-item-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
